blanco = #ffffff
azul-empresa = #004481
body
	background #fff
	.contenedor
		width 100%
		
			
@media screen and (min-width: 300px)
	.content_form
		width 90%
		margin 0 auto
		.form
			background #fff
			margin 70px auto
			border 1px solid #ddd
			padding 10px 5px
			min-height 350px
			max-width 450px
			.logo
				width 100%
				padding 15px 0px 20px 0px
				img
					display inline-block
					margin-left 8%
					width 20%
				.ghl
					margin-left 45%
					margin-right 0px
			.login
				width 100%
				input
					display block
					width 80%
					margin 10px auto
					height 35px
					padding 0px 5px
				.cont_submit
					width 80%
					margin 0 auto
					height 70px
					padding 0px 0px
					.btn_enviar
						background #004481
						border 0px solid
						color blanco
						float right
						width 100px
						&:hover
							background #2A669F
				#rsp
					font-size 10px
					color red
					margin-top -60px
					margin-bottom 40px
					margin-left 40px
				.mensaje
					color red
					font-size 12px
					// margin 0 auto
					margin-left 40px
					padding 0
					width 80%
				#load
					font-size 12px
					// margin-top -30px
					margin-left 40px
					// margin-top -30px
					// height 50px
					display block
					color azul-empresa
					// float right
					text-decoration none
					width 30px
					// background blue
					img 
						display block
						margin-top -100px
						// margin-bottom 30px
						// position absolute
				#pass-error
					color red
					font-size 12px
					margin-left 40px
			.olvido_pass
				width 80%
				margin 0 auto
				a 
					color azul-empresa
					display block
					float left
					font-size 12px
					text-decoration none
					&:hover
						color #002d56